:root {
  ---poppinFont: 'Poppins', sans-serif;
  ---robotoFornt: 'Italianno', cursive;;
  ---cursiveFornt: 'Cormorant Garamond', serif;
  ---primeColor: #dd4b39;
  ---secondColor: #000;
  ---thirdColor: #252642;
}