:root {
  ---poppinFont: 'Poppins', sans-serif;
  ---robotoFornt: 'Italianno', cursive;;
  ---cursiveFornt: 'Cormorant Garamond', serif;
  ---primeColor: #dd4b39;
  ---secondColor: #000;
  ---thirdColor: #252642;
}

.accordion-button::after{
  display: none;
}

.accordion-button::before{
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: unset;
  margin-right: 20px;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}